name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    defaults:
      run:
        shell: bash -l {0}

    concurrency:
      group: ci-tests-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v3

      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          environment-file: conda/dev.yaml
          channels: conda-forge,nodefaults
          activate-environment: osl-paperwork
          use-mamba: true
          miniforge-variant: Mambaforge

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install texlive
          sudo apt install texlive-fonts-extra

      - name: run tests
        run: |
          cd agreement
          mkdir -p build
          python docgen.py --data ./data/202301.yaml --output ./build --template templates/graph
          python docgen.py --data ./data/202301.yaml --output ./build --template templates/osl
